/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  // background-color: burlywood;
  background-image: url('assets/bg2.jpeg');
  background-size: cover;
}

.wrapper {
  height: 100vh;

  .header {
    background-color: black;
    background-color: rgba($color: #a3e7de, $alpha: 0.35);
    height: 7vh;
    padding: 0px;
    border-bottom: 1px solid rgba($color: #a3e7de, $alpha: 0.5);
  }

  .play-zone {
    height: 83vh;
  }

  .footer {
    height: 10vh;
    background-color: rgba($color: #9d4533, $alpha: 0.5);
    border-top: 1px solid rgba($color: #9d4533, $alpha: 0.5);
  }
}
